.ups-onoff-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../../assets/is-images/svr-ups-img/ups-onoff-banner.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
}
