.about-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/is-images/banner3.jpg);
    height: 60vh;
     background-position: center;
    background-size: cover;
}


