.printer-error-code-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(../../assets/is-images/printer-img/error-code.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
}
