.safety-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/is-images/safety-icon/safety-banner1.avif);
    height: 60vh;
     background-position: center;
    background-size: cover;
}